extends layout

block content
  h1= title
  p #{title}
  if results && results.searchQuery
    p You searched for: #{results.searchQuery}

  h2 Results:

    for result in results.hits
      include partials/result
