extends layout

block content
  h1= title
  p #{title}
  if results && results.searchQuery
    p You searched for: #{results.searchQuery}

  if results && results.hits
    h2 Results:
    for result in results.hits
      include partials/result
  else
    h2 No Results