extends layout

block content
  if results && results.searchQuery
    h2 You searched for: #{results.searchQuery}

  if results && results.hits
    table(class='table table-striped')
      tbody
        for result in results.hits
          include partials/result
  else
    h2 No Results